@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root{

--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--Cream);
    font-family: 'Montserrat', 'Fraunces';
}

.container{
    display: flex;
    max-width: 600px;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 30px;
    background-color: var(--White);
    border-radius: 0 10px 10px 0 ;
}

.image{
    width: 50%;
    height: auto;
    background-image: url('./images/image-product-desktop.jpg'); /* Sets the background image */
    background-repeat: no-repeat; /* Ensures the image does not repeat */
    background-size: cover; /* Makes the image cover the entire element */
    background-position: center; /* Centers the image within the element */
    border-radius: 10px 0 0 10px;

}

p{
    font-family: 'Montserrat';
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

h1, span{
    font-family: 'Fraunces';
}

h1{
    color: var(--Very-dark-blue);
    padding: 10px 0;
    padding-bottom: 20px;
}

.title{
    letter-spacing: 3px;
    text-transform: uppercase;
}


.price {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.price  del{
    margin: 15px;
}

.price p span{
    color: var(--Dark-cyan);
    font-size: 32px;
    font-weight: 700;
}


.button{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--Dark-cyan);
    width: 240px;
    color: var(--White);
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

.attribution{
    font-size: 8px;
    text-align: center;
    padding: 10px;
}

@media (max-width : 650px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    
    .card{
        padding: 20px;
        background-color: var(--White);
        border-radius: 0 0px 10px 10px ;
    }
    
    .image{
        width: 300px;
        height: 220px;
        background-image: url('./images/image-product-mobile.jpg');
        border-radius: 10px 10px 0 0;
    }
    
    p{
        font-size: 13px;
    }
    
    h1{
        font-size: 28px;
    }
    
    .button{
        width: 260px;
    }
}